/* FORM CHAT */
.containerChat {
    height: 100px;
    background-color: #343541;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  
  .nav-bar {
    width: 100%;
    height: 40px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-bar p {
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
  }
  
  .messages-area {
    width: 100%;
    height: 210px;
  }
  
  .sender-area {
    background-color: #343541;
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
  }
  
  .send-input {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    background: none;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
  }
  
  .send-input::placeholder {
    color: #828E9E;
  }

  .send-input:focus {
    outline: none;
  }
  
  .input-place {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 5px;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    height: 45px;
    gap: 5px;
    border: 1px solid #2E2F3A;
  }