@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mooli&family=Poppins:wght@400;500;600&family=Raleway:wght@200;400;500&family=Red+Hat+Display:wght@400;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    background-color: #1b212d;
}

.logo{
  width: 120px;
}

/* CUSTOM LOADING */
.loading-bar {
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: 120px;
  margin-bottom: 300px;
  background: transparent;
  border: 2px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 250px;
  font-size: 20px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #fc00ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #fc00ff;
  border-right: 5px solid #00dbde;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

/* CHAT MESSAGES */
.messages {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin: 0;
  border: 2px solid black;
  scroll-behavior: smooth !important;

  /* Dark mode colors and gradient */
  background: #121212;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

/* IMAGE AVATAR IN ACCOUNT */
.imageAvatar {
  background: #e0e0e0;
  box-shadow:  3px 3px 6px black,
             -3px -3px 6px black;
}

/* FAVOURITES AND REWIEWS LIST */
.list {
  width: 70%;
}

/* SPACE */

.space {
  margin: 0 5% 0 5%;
}

.over{
    height: 400px;
    width: 200px;
    overflow-x: hidden;
    padding: 10px;
    margin: 0;
}
 /* UPDATE SEARCH  */
.colorSearch {
  background-color: #1b212d;
  border: 0.5px solid #9ca3af;
}
 /* UPDATE BUTTON DISABLED  */
.btn:disabled {
  color: #4b5563;
}

.comment1{
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  margin: 0;
}